---
name: Build libqrmi.so
on:
  workflow_call:
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1

    # --all-targets does not include the binaries, hence they need
    # to be built separately
    - name: Build libqrmi.so (includes dependencies and examples)
      run: cargo build --all-targets --release

    - name: Upload libqrmi artifacts
      uses: actions/upload-artifact@v6
      with:
        name: libqrmi-artifacts
        path: |
          target/release/libqrmi.so
          qrmi.h
        if-no-files-found: error
