name: Pull request
on:
  pull_request:
    branches: [ "main" ]
concurrency:
  group: ${{ github.repository }}-${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  build-libqrmi:
    if: github.repository_owner == 'qiskit-community'
    name: Build libqrmi
    uses: ./.github/workflows/build-libqrmi.yml
  build-qrmi-bins:
    if: github.repository_owner == 'qiskit-community'
    name: Build QRMI binaries
    uses: ./.github/workflows/build-qrmi-bins.yml
  build-c-examples:
    if: github.repository_owner == 'qiskit-community'
    needs: build-libqrmi
    name: Build C examples
    uses: ./.github/workflows/build-c-examples.yml
  lint-fmt-rust:
    if: github.repository_owner == 'qiskit-community'
    name: Lint and format check Rust code
    uses: ./.github/workflows/lint-fmt-rust.yml
  unittest-rust:
    if: github.repository_owner == 'qiskit-community'
    name: Unittest Rust code
    uses: ./.github/workflows/unittest-rust.yml
  build-wheels:
    if: github.repository_owner == 'qiskit-community'
    name: Build wheels
    uses: ./.github/workflows/build-wheels.yml
    with:
      python-version: "3.12"
  lint-fmt-python:
    if: github.repository_owner == 'qiskit-community'
    needs: build-wheels
    uses: ./.github/workflows/lint-fmt-python.yml
    with:
      python-version: "3.12"
  unittest-python:
    if: github.repository_owner == 'qiskit-community'
    needs: build-wheels
    uses: ./.github/workflows/unittest-python.yml
    with:
      python-version: "3.12"

